# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
sftp-config.json
.idea
._*

# Grunt
/node_modules/
/node_modules2/
/deploy/
package-lock.json

# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# ApiGen
/wc-apidocs/

webhook.txt

# Vendor
/vendor/

# PHPCS caching file ignore
.phpcs.cache
