parameters:
    level: 5
    paths:
        - ./includes
        - ./resources
        - ./templates
    excludePaths:
        - ./vendor
        - ./assets
    autoload_files:
        - ./vendor/autoload.php
    memory_limit: 512M