#paydockWidgetCard iframe {
    border: 0;
    width: 100%;
    height: 360px;
}
#paydockWidgetBankAccount iframe {
    border: 0;
    width: 100%;
    height: 275px;
}
.form-widget {
    overflow: hidden;
}

#paydockWidget3ds iframe {
    border: 0;
    width: 100%;
    height: 360px;
}